<h1>Let's Add A New Restaurant !</h1>
<div class="container text-center" style="max-width: 300px">
  <%= render 'form', restaurant: @restaurant %>
  <%= link_to 'Back to List', restaurants_path %>
</div>



